venv/
env/
*.venv/

# Игнорирование временных файлов и папок
__pycache__/
*.py[cod]
*.so

# Игнорирование файлов с настройками проекта PyCharm
/.idea/

# Игнорирование файлов с логами и отчетами о покрытии
.logs/
.coverage

# Игнорирование файлов сборки и временных файлов
build/
dist/
*.egg-info/

# Игнорирование файлов автоматически сгенерированных документаций
docs/_build/

# Игнорирование файлов создаваемых редакторами кода
*.swp
*.swo
*.bak

# Игнорирование файлов конфигурации окружения
.env
.env.local
.env.*.local

# Игнорирование личных настроек
settings.ini
secrets.ini